.heading{
    display: flex;
}
.heading button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.heading_flag{
    flex: 1;
    display: flex;
    align-items: center;
}
.heading_name,
.heading_population,
.heading_area,
.heading_gini
{
    color: var(--text-color-secondary);
    flex: 4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.heading_name{
    justify-content: flex-start;
}
.heading_arrow{
    color:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}
.row{
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: var(--background-color-light);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: transform 200ms ease-in-out,box-shadow 200ms ease-in-out;
    -webkit-transition: transform 200ms ease-in-out,box-shadow 200ms ease-in-out;
    -moz-transition: transform 200ms ease-in-out,box-shadow 200ms ease-in-out;
    -ms-transition: transform 200ms ease-in-out,box-shadow 200ms ease-in-out;
    -o-transition: transform 200ms ease-in-out,box-shadow 200ms ease-in-out;
}
.row:hover{
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -2px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -2px 5px 15px 5px rgba(0,0,0,0);
}
.name{
    flex: 4;
    text-align: left;
}
.population{
    flex: 4;
    
}
.area{
    flex: 4;
    
}
.gini{
    flex: 4;
    
}
.flag{
    flex: 1;
    margin-right: 6px;
}
.flag img{
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
@media screen and (max-width:720px){
    .flag img{
        display: none;
    }
    .area, .gini,.heading_flag,.heading_area,.heading_gini{
        display: none;
    }

}